@font-face {
	font-family:regular;
	src:url(fonts/regular.ttf);
}

body {
	background-image: url("../images/bg.png");
	margin:0:auto;
	background-size:cover;
}

a:hover, a:focus, a:active { outline:none;}

.activity {
    left: 0%;
    position: relative;
    width: 100%;
}

.activity > div { width:50px; height:50px; margin:0 auto;}

.mainHeader { display:block; height:114px; position:relative;}
.mainHeader a { position:relative; z-index:999; margin-top:20px; display:inline-block;}
.headerBlack { background:rgba(0,0,0,1); width:100%; height:82px; position:absolute; top:0; left:0;}
.headerLightBlack {background:rgba(0,0,0,0.70); width:100%; height:33px; position:absolute; bottom:0; left:0;}

.logout {
	margin-top:30px;
	margin-right:80px;
	cursor:pointer;
}

.logout p{
	color:white;
}

.loginScreen { display: inline-block; margin-top:100px; display:block; background:rgba(0,0,0,0.70);}

.login-image {margin-top:20px; margin-bottom:50px;}

.loginScreen .form-group {
	position: relative;	
}

.loginScreen .form-group label {	
	top: 0px;
	color:#FFF;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 1em;
	position: absolute;
}

.form-control {
	
	background:rgba(0,0,0,0.70);
	height:60px;
	color:#FFF;
}

.show-hide.ng-hide-add, .show-hide.ng-hide-remove {
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
	display: block!important;
	position: absolute;
}
.show-hide.ng-hide-add.ng-hide-add-active, .show-hide.ng-hide-remove {
	top: -8px;
	display: block!important;
	position: absolute;
	opacity: 0;
}
.show-hide.ng-hide-add, .show-hide.ng-hide-remove.ng-hide-remove-active {
	top: 8px;
	opacity: 1;
	display: block!important;
	position: absolute;
}
.loginForm .form-control:focus, .loginForm .form-control {
	box-shadow: none;
	border: none;
	border-radius: 0;
	height: 80px;
	font-size: 16px;
}

.loginButton {
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	margin: 0 auto;
	background: url(../images/login_btn.png) no-repeat;
	background-size: contain;
}

.container {
	width:100%;
	height:500px;
	display:block;
}

.uploadScreen {
	margin-top:50px;
}
.upload-title {	
	background:rgba(0,0,0,0.90); 
	display:block;
	height:80px;
}

.upload-title h1{	
font-family:regular;
   color:#FFF;
}

.browse-file{
	background:rgba(0,0,0,0.75);
	height:180px;
}

.browse-file-btn { 
    margin-top:60px;
    position: relative;
}

.browse-file-btn input {	
    cursor: pointer;
    left: 15;
    position: absolute;
    top: 0;
	height: 48px;
	opacity:0;
    width: 164px;
    z-index: 999;
}

.browse {
    left: 15;
	height: 48px;
    position: absolute;
	width: 164px;
	background:rgba(0,0,0,0.50);
    top: 0;
}

.browse p{
	font-family:regular;
	color:#FFF;
	font-size:18px;
	margin-top:11px;
}

.file-path {
	margin-top:60px;
	background:rgba(0,0,0,0.50);
	height:47px;
}

.file-path p{
	font-family:regular;
	color:#FFFFFF;
	font-size: 20px;
    margin-top: 9px;
}

.upload {
	margin-top:50px;
}

.upload-btn {
	background: url(../images/upload_icn.png) no-repeat;
	height: 68px;
    width: 63px;
	border:none;
}
.upload > img{
	cursor:pointer;
}

.upload p {
	font-family:regular;
	color:#FFF;
}

.save-file {
	height:180px;
	background:rgba(0,0,0,0.55);
}

.excel-file-image {
	margin-top:60px;
}

.excel-file-name {
	margin-top:70px;	
}

.excel-file-name p{
	font-family:regular;
	color:#FFFFFF;
	font-weight:bold;
	font-size: 22px;
}

.progressbarContainer {
	margin-top:75px;
	position:relative;
}

.progress_bar {
  height: 25px;
  background:#333;
  width: 0%;
  position:absolute;
  z-index: 999;
  left:0;
  top:0;
}

.empty-progress_bar {
	position:absolute;
	width: 100%;
	height: 25px;
	background:#333;
	left:0;
    top:0;
}

.save-btn {
	margin-top:50px;
}

.save-button {
	background: url(../images/save_btn.png) no-repeat;
	height: 68px;
    width: 63px;
	border:none;
	cursor:pointer;
}

.save-btn p{
	font-family:regular;
	color:#FFFFFF;
}

@media (max-width:500px)
{
	.mainHeader a {
    margin-top: 40px;
}
.mainHeader a img { height: 38px;
    margin-top: 15px;}

.logout {
    margin-right: 18px;
    margin-top: 35px;
}

.logout p{
    font-size:11px;
}

.upload-title {
    height: 54px;
}

.upload-title h1 { 
font-family:regular;
font-size:24px; margin-top:15px;}

.browse {
    height: 30px;
	width: 72px;
	left:15px;
}

.browse p{
	font-size:10px;
	margin-top:7px;
}

.browse-file-btn input {
    height: 30px;
    width: 72px;
	left:15px;
}

.file-path {
    height: 30px;
}

.file-path p {
    margin-top: 6px;
	font-size: 13px;
}

.upload > img {
    cursor: pointer;
    height: 43px;
}

.excel-file-image {
	margin-top: 47px;
}

.excel-file-image >img{
	height:32px;
	margin-top: 10px;
}

.save-btn {
    margin-top: 46px;
}

.save-btn > img {
	 height: 58px;
}

.excel-file-name {
    margin-top: 64px;
}

.excel-file-name p{
   font-size:12px;
}

.progressbarContainer {
    margin-top: 58px;
}

.browse-file{
	height:140px;
}

.save-file {
	height:140px;
}

}